.home-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.mission-statement {
  justify-content: center;
  align-items: center;
}

.home-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
