body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

input, label {
  display: block;
}

input {
  border: 1px solid #CCC;
  margin-bottom: 10px;

}

input #comment {
  overflow: auto; /* Enable scrollbars if content overflows */
  /* width: 50%; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #000;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

form {
  padding: 15px;
  border: 1px solid #CCC;
  margin: 1px auto;
  min-width: 100px; /* Minimum width */
  max-width: 400px; /* Maximum width */
  min-height: 100px; /* Minimum height */
  max-height: 400px; /* Maximum height */
}

form #comment {
  padding: 15px;
  border: 1px solid #CCC;
  margin: 1px auto;
  resize: both; /* Allow resizing */
  overflow: auto; /* Enable scrollbars if content overflows */
  min-width: 100px; /* Minimum width */
  max-width: 400px; /* Maximum width */
  min-height: 100px; /* Minimum height */
  max-height: 400px; /* Maximum height */
}

form #login-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

form #login-box {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}

h1 {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}