/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

input,
label {
  display: block;
}

input {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

textarea #comment {
  max-width: 50px;
  min-height: 75px;
  max-height: 400px;
}

#nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #1088c0;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #fff;
}

form {
  padding: 15px;
  border: 1px solid #ccc;
  margin: 1px auto;
  resize: both;
  min-width: 100px;
  max-width: 425px;
  min-height: 75px;
  max-height: 400px;
}

form #comment {
  padding: 15px;
  border: 1px solid #ccc;
  margin: 1px auto;
  resize: both;
  overflow: auto;
  resize: both;
}

form #login-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

form #login-box {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

/* automatically added by NavLink component */
.active {
  color: #eebc32;
  font-weight: bold;
  font-style: italic;
}

h1 {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}

.info-box-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  display: flex;
  justify-content: center;
}
